!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "Watersports"
    = csrf_meta_tags
    %link{:href => "http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300", :rel => "stylesheet", :type => "text/css"}
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"
    = stylesheet_link_tag "application", :media => "all", "data-turbolinks-track" => true

    =#  favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144'
    =#  favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114'
    =#  favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72'
    =#  favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png'
    =#  favicon_link_tag 'favicon.ico', :rel => 'shortcut icon'
    = javascript_include_tag "application", "data-turbolinks-track" => true


  %body.total-background
    = render partial: 'layouts/frontend_partials/facebook_sdk'
    .container.wrapper
      
      = render partial: 'layouts/frontend_partials/header'

      .row.row-index
        .col-md-8.content-news
          .box-show
            = bootstrap_flash
            = yield

        %aside.col-md-4.content-sidebar
          .box-sidebar
            = render partial: 'layouts/frontend_partials/sidebar'

      .push
    .container.bottom
      = render partial: 'layouts/frontend_partials/footer'
